@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html{
    font-family: Inter, sans-serif;
    font-weight: 500;
}

body{
    background: #FFF;
    color:  #1F2937 ;
}

nav{
    width: 1120px;
    margin: auto;
    padding: 1.5rem;
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
} 

.logo{
    font-family: teko;
    font-weight: 800;
    font-size: 2rem;
    align-items: center;
    text-transform: uppercase;
} 

.menu{
    display: flex;
    padding-left: 20rem;
    gap: 5rem;
    font-family: Inter;
    color: #6B7280;
    font-size: 1.1rem;
    font-weight: 600;
    
}

.menu > li  {
    cursor: pointer;
    padding: 1rem;
}

a {
    color: #6B7280;
}
a:hover{
    color: #1F2937 ;
    font-size: 1.3rem;
    transition: 0.5s;
}
.nosso-site {
    font-size: 1.3rem;
    font-weight: 600;
    color: #4B5563;
} 

main{
    display: flex;
    flex-direction: column;
    background-color: #F3F4F6;
}

/* Aqui começa o conteúdo principal */
.container-principal{
    background: #F3F4F6;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.hero{
    max-width: 1120px;
    height: 100vh;
    display: flex;
    gap: 6rem;
    justify-content: space-between; 
    align-items: center;
    padding: 0rem 2rem;
    margin: auto;
    overflow: clip;
}

.hero-conteudo{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.detalhes{
    color:#D97706;
    font-family: Epilogue;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
}

h1{
    font-family: Montserrat;
    font-size: 2.3rem;
    font-weight: 800;
    color: #1F2937 ;  
}

hr{
    border-color: #F59E0B;
}

.hero-subtitulo{
    font-family: Inter;
    color: #64748B;
    font-size: 1rem;
    font-weight: 400;
}

.hero-image-conteiner{
    max-width: 45%;
    column-count: 3;
    column-gap: 1rem; 
    margin: -1;
}

.hero-image-conteiner > figure > img{
    width: 100%;
    border-radius: 0.5rem;
}



/* Contém todos os cards */
.card-container-1{
    padding: 3rem 2rem;
    margin: auto;
    flex-direction: column;
    display: flex;
    gap: 2rem;
    height: 100vh;
} 

/* Cabeçalho do contúdo e todas as informções dele */
.card-cabecalho{
    max-width: 1120px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

.card-titulo{
    color: #374151;
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 700;
}

.card-subtitulo{
    color:#6B7280;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
}

/* Div responsável pelos cards */
.card-container-bloco{
    max-width: 1120px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

/* Card individual e todas as informções dele */
.card-container-2{
    border-radius: 0.5rem;
    background: #FFF;; 
    padding: 2rem;
    flex-direction: column;
    display: flex;
    align-items: start;
    gap: 2rem;
    max-width: 31.25rem;
    max-height: 16rem;
}
.card-cabecalho-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}
.card-cabecalho-detalhes{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.card-titulo-1{
    color: #374151;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-weight: 700; 
}
.card-descricao{
    color:#6B7280;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
}
.card-autor{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.card-autor >img {
    border-radius: 20rem;
    width: 1.5rem;
}
.card-autor-nome{
    color: #6B7280;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
}

/* Seção do FeedBack */
.secao-feedback {
    width: 1120px;
    min-height: 100vh;
    padding: 1rem 2rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feedback-conteudo{
    display: flex;
    gap: 5rem;
    align-items: center;
}

.feedback-card{
    margin-top: 1rem;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    border-radius: 0.5rem;
    width: 500px;
    text-align: center;
}

.feedback-img {
    display: flex;
    justify-content: center;
}
.feedback-img > img{
    max-width: 100%;
}

.feedback-subtitulo{
    color: #374151;
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 700;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-top: 0.8rem;
    color: #D97706;
    font-family: Epilogue;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
}

input,
textarea {
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.feedback-button {
    font-family: Inter;
    font-weight: 700;
    font-size: 1rem;
    padding: 0.9rem;
    background-color: #6B7280;
    color: #ffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #374151;
    transition: 0.5s;
}

.feedback-titulo {
    color: #374151;
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 700; 
    display: flex;
    flex-direction: row;
}

.feedback-p{
    color:#6B7280;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
}
.feedback-detalhes{
    color:#be7c30;
    font-family: Inter;
    font-weight: 700;
    font-size: 0.8rem;
    text-transform: uppercase;
}

/* Aqui fica o popup */

.popup{
    width: 400px;
    background-color: #FFF;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #1F2937;
    visibility: hidden;
    transition: transform 0.4s, top 04.s;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}
.popup img {
    width: 100px;
    margin-top: -50px;
}

.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0px;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    background-color: #1F2937;
    outline: none;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 5px 5px #4B5563;
}

/* Aqui fica o rodapé */
.rodape {
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
}
.rodape-p-1{
    color: #9CA3AF;
    font-family: Inter;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 500;
}
.rodape-destaque{
    color: #9CA3AF;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
}

